<template>

        <div class="mj-card-item-info">
            <div class="photo"><img :src="photoPath" alt="scratchName"/></div>
            <div class="title">{{scratchName}}</div>
            <div class="price">{{scratchPrice}}원</div>
            <div class="stars">{{scratchStar}}</div>
        </div>

</template>
<script>
    export default {
        props: {
            photoPath:{
                type: String,
                required: true,
            },
            scratchName:{
                type: String,
                required: true,
            },
            scratchPrice:{
                type: Number,
                required: true,
            },
            scratchStar:{
                type: String,
                required: true,
            }
        }
    }
</script>
