<template>

    <section class="mj-conainer">
        <div class="mj-header">
            <h2><span class="catemoji"></span> 고양이 인기 스크래쳐 종류</h2>
        </div>
        <section class="scratch">
            <card-item-scratch-info
                v-for="(item,index) in scratcher"
                v-bind:key="index"
                v-bind:scratch-star="item.itemStars"
                v-bind:scratch-price="item.itemPrice"
                v-bind:scratch-name="item.itemName"
                v-bind:photo-path="item.itemPhoto">
            </card-item-scratch-info>
        </section>
    </section>

</template>
<script>
export default {
    data(){
        return {
            scratcher: [
                {
                    itemPhoto: '/images/scratch_photo_1.jpeg',
                    itemName: 'FAPER 두번쓰는 숨숨스크래쳐',
                    itemPrice: 26000,
                    itemStars: '★★★★☆',
                },
                {
                    itemPhoto: '/images/scratch_photo_2.jpeg',
                    itemName: '힐링타임 미묘 하우스 스크래쳐',
                    itemPrice: 54000,
                    itemStars: '★★★★★',
                },
                {
                    itemPhoto: '/images/scratch_photo_3.jpeg',
                    itemName: '야오미 우드 삼각김밥 하우스 스크래쳐',
                    itemPrice: 62000,
                    itemStars: '★★★★★',
                },
                {
                    itemPhoto: '/images/scratch_photo_4.jpeg',
                    itemName: '루어캣 숨숨집',
                    itemPrice: 27000,
                    itemStars: '★★★★★',
                },
                {
                    itemPhoto: '/images/scratch_photo_5.jpeg',
                    itemName: '고양이점 치즈 숨숨집 스크래쳐',
                    itemPrice: 9900,
                    itemStars: '★★★★★',
                }

            ]

        }
    }
}
</script>
